@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif! important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
  font-size: 20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

h1{
  font-size: 30;
    font-weight: bold;
    color: solid black;
}

.btn_purp{
  min-width: 100%;
  width: 100%;
}
.header{
    padding: 10px;
}

h6{
  align-items: end;
}
.content{
min-height: 90vh;
}


p{
  margin: 5px !important;
  text-align: left;
  padding: 0;
}

.btm1{
  box-shadow: none !important;
  background-color: white !important;
  border: 1px solid orangered !important;
  color: orangered !important;
  width: 100px;
  height: 35px;
}

.spinner{
  position: absolute;
  top:50%;
  left:50%;
  z-index:1 ;
}



/*This is for making hover effect*/

.car{
  border-radius: 5px;
  margin: 50px;
  height: 200px;
  transition: 0.3s;

}

.car:hover{
  height: 350px;
}

.car:hover > .car-content{
     opacity: 1;
}

.carimg{
  height: 225px;
  width: 225px;
  border-radius: 5px;
  transform: translate(30px);


}


.car-content{
      opacity:0;
      transition: 0.3s;
}


.carimg2{
   height: 400px;
   border-radius: 10px;
   width: auto;
}


svg{
  margin-left:70px;
}